  /* CSS web */
  /* couleur de fond + police  */
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{
    background-color: rgb(222, 172, 240);
    margin: 0;
    color: rgb(24, 19, 24);
    font-family: 'Inconsolata', monospace;
    word-spacing: -0.2em;
}

  /* bannière suppérieure */

header{
    text-align: justify;
    height: auto;
    width: 100%;
    margin: 0;
    background-color: rgb(197,163,230);
}

h1{   
    margin: auto;
    padding-top: 1.5em;
    text-align: center;
}

#bub{
    margin-bottom:0;
    position: relative;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

svg{
    margin: 0.5em;
    color:rgb(24, 19, 24);
}

address{
    padding: 2% 0% 0% 0%;
    text-align: center;
}

  /* Image + objectif   */

aside{
    background-image: url("./images/fond.jpg");
    background-position: center;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    outline: solid ;
    overflow: hidden;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.2), inset 0px -5px 5px rgba(0, 0, 0, 0.2);
}

quote{
    margin: auto;
    text-align: center; 
    font-style: italic; 
    font-size: 1.5em;
}

aside img{
    min-width:100px;
    width:10%;
    border-radius: 50%;
    cursor: pointer;
}

  /* Contenu du CV + colonnes header */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(197,163,230);
}

article,address{
    min-width: 500px;
    width: 33%;
    font-size: 1.2em;
}

article{
    text-align: justify;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li img{
    width: 50px;
    height: 50px;
}

h2,h3{
    text-align: center;
    margin-bottom:0;
}

h3{
    margin : 1em 0;
}

p{
    margin-bottom: 0;
    font-weight: bold ;
}
  /* Les liens  */

a{
    color: rgb(24, 19, 24);;
    transition: text-shadow 2s;
}

a:not(.bubulle):hover{
    text-shadow: 1px 0 10px white;
    transition: text-shadow 2s;
}

  /* Bouton mode sombre  */

button{
    cursor: pointer;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(47, 36, 46);
    font-size: 1.6em;
    color: rgb(197,163,230);
    position: fixed;
    bottom: 10px;
    left : 10px;
}

.click{
    width: 50%;
    border-radius: 0;
    position:fixed;
    max-width: 600px;
    min-width: 250px;
    top:10%;
}

  /* Les ombres  */

button,img,header{
    box-shadow:5px 10px 20px rgba(0, 0, 0, 0.2);
}

main{
    box-shadow:5px -10px 20px rgba(0, 0, 0, 0.2)
}

  /* Une jolie scrollbar + info bulle */

html::-webkit-scrollbar{
    width:10px;
    background: rgb(47, 36, 46);
}

html::-webkit-scrollbar-thumb{
    background: #C5A3E6;
}

a.bubulle{
   text-decoration: none;
}

.bubulle:hover:after,
.bubulle:focus:after {
    content: attr(aria-label); 
    position: absolute;
    width: 100px;
    opacity: 0.9;
    top: 90%;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);
    z-index: 1; 
    white-space: nowrap; 
    background-color: rgb(24, 19, 24);
    color: rgb(222, 172, 240);
}



  /* Version mobile  */

@media (max-width:640px) {

    main{
        width: 100%;
    }
    article,address{
        min-width: 200px;
        width: 100%;
    }

    ul{
        padding: 0em 1em;
    }

    #competences{
        padding: 0;
        padding-left: 1.5em;
    }

    button{
        position: static;
        left:43%;
    }
 }
