body{
    background-color: rgb(222, 172, 240);
    margin: 0;
    color: rgb(47, 36, 46);
}

header{
    text-align: justify;
    height: auto;
    width: 100%;
    margin: 0;
    background-color: rgb(139, 89, 158);
}


h1{   
    margin: 0;
    padding-top: 1em;
    text-align: center;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

aside{
    padding: 10px 0px 10px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    outline: solid ;
}

quote{
    margin: auto;
    text-align: center; 
    font-style: italic; 
    font-size: 1.5em;
}

img{
    min-width:100px;
    width:10%;
    border-radius: 50%;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(139, 89, 158);
}

article,address{
    min-width: 500px;
    width: 33%;
    text-align: justify;
    font-size: 1.2em;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#competences>li{
    list-style-type: circle;
}

address{
    padding: 3% 0% 2% 0%;
    text-align: center;
}


h2,h3{
    text-align: center;
}

p{
    margin-bottom: 0;
    font-weight: bold ;
}

a{
    color: rgb(47, 36, 46);
}

a:hover{
    color:rgb(222, 172, 240);
}

button{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(47, 36, 46);
    font-size: 1.6em;
    color: rgb(222, 172, 240);
    position: fixed;
    bottom: 10px;
    left : 10px;
}

button,img,header{
    box-shadow:5px 10px 20px rgba(0, 0, 0, 0.2);
}

main{
    box-shadow:5px -10px 20px rgba(0, 0, 0, 0.2)
}

html::-webkit-scrollbar{
    width:10px;
    background:rgb(47, 36, 46);
}

html::-webkit-scrollbar-thumb{
    background:rgb(222, 172, 240);
}

.click{
    width: 50%;
    border-radius: 0;
    position:fixed;
    max-width: 600px;
    min-width: 250px;
    top:20%;
}

@media (max-width:640px) {

    main{
        width: 100%;
    }
    article,address{
        min-width: 200px;
        width: 100%;
    }

    ul{
        padding: 0em 1em;
    }

    #competences{
        padding: 0;
        padding-left: 1.5em;
    }

    button{
        position: static;
        left:43%;
    }
 }